<h1>Редактирование переданных показаний</h1>

<%= render 'form' %>

<%= link_to 'Show', [@watermeter_indication.watermeter, @watermeter_indication], class: 'btn btn-primary' %> |
<%= link_to 'Back', watermeter_watermeter_indications_path(@watermeter_indication.watermeter), class: 'btn btn-dark' %>
