
   <section class="login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 center-col">
                        <div class="common-form">
                        <p id="notice"><%= notice %></p>
                            <h3>Переданные данные:  </h3>
                            <h4> последние показания: <%= @watermeter_indication.data %> </h4>
                            <div class="row">
                              <%= link_to 'Вернуться', watermeter_watermeter_indications_path(@watermeter_indication.watermeter), class: 'btn btn-dark' %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>