<div class = "jumbotron">
<h1>Редактировать данные о предприятии</h1>

<%= render 'form', vodokanal: @vodokanal %>

<%= link_to 'Просмотр', @vodokanal, class: 'btn btn-primary' %> |
<%= link_to 'Вернуться', vodokanals_path, class: 'btn btn-dark' %>

</div>